.windstripe-search-wrap {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
    width: 100%;
    height: 100%;
    z-index: 9999;
    display: none;
    -webkit-animation: searchZoomIn .4s;
    animation: searchZoomIn .4s;
}

.search-active .windstripe-search-wrap {
	display: block;
}

body:not(.search-active) .windstripe-search-wrap {
    -webkit-animation: searchZoomOut .4s;
    animation: searchZoomOut .4s;
}

.windstripe-search-wrap .search-overlay {
position: absolute;
    background: rgba(0,0,0,.85);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: none;
	  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.search-active .search-overlay {
	display: block;
	  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.windstripe-search-wrap .search-inner {
	    position: absolute;
    top: 50%;
    left: 50%;
    width: 40%;
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
}

.windstripe-search-wrap .search-inner .awesomplete {
	display: block;
	width: 100%;
}

.windstripe-search-wrap .search-inner .awesomplete input,
.windstripe-search-wrap .search-inner input {
	background: 0 0;
	border-radius: 3px;
	border-width: 0;
	height: 60px;
	box-shadow: none;
	padding: 10px 20px;
	width: 100%;
	border: 1.5px solid #fff;
	color: #fff;
	font-size: 16px;
}

.windstripe-search-wrap .search-inner .awesomplete input::placeholder {color: #fff;}

.windstripe-search-wrap .search-active .windstripe-search-wrap .close-offcanvas {
	font-size: 22px;
	color: #fff;
	z-index: 9999;
	position: absolute;
	top: 20%;
	right: 20%;
}

.windstripe-search-wrap label.finder {display: none;}

.close-search {
	position: absolute;
	top: 25px;
	z-index: 1;
	z-index: 999;
	right: 15px;
}

@-webkit-keyframes searchZoomIn {
 from {
  opacity:0;
  -webkit-transform:scale3d(1.5,1.5,1.5);
  transform:scale3d(1.5,1.5,1.5)
 }
 50% {
  opacity:1
 }
}
@keyframes searchZoomIn {
 from {
  opacity:0;
  -webkit-transform:scale3d(1.5,1.5,1.5);
  transform:scale3d(1.5,1.5,1.5)
 }
 50% {
  opacity:1
 }
}

@-webkit-keyframes searchZoomOut {
 from {
  opacity:1;
  -webkit-transform:scale3d(0.5,0.5,0.5);
  transform:scale3d(0.5,0.5,0.5)
 }
 50% {
  opacity:0
 }
}
@keyframes searchZoomOut {
 from {
  opacity:1;
  -webkit-transform:scale3d(0.5,0.5,0.5);
  transform:scale3d(0.5,0.5,0.5)
 }
 50% {
  opacity:0
 }
}